.container-wallet {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: center;
  width: 850px;
}

.container-header {
  border: 1px solid green;
  width: 850px;
}

.container-h1 {
  width: 50%;
}

.container-span {
  display: flex;
  justify-content: flex-end;
}

.forms-wallet {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
}
